@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  background: #0b1f3a;
  color: white;
}

* {
  box-sizing: border-box;
}